<div class="events">
    <div class="list">
        <h2>Upcoming Events</h2>
        <ul>
            {% for event in site.data.events.upcoming_events %}
                {% if event.loc == "none" %}
                <li>{{ event.name }}, {{event.date}}</li><p></p>
                {% else %}
                <li>{{ event.name }}, {{ event.date }}, {{ event.loc }}</li><p></p>
                {% endif %}
            {% else %}
            <li>No events available.</li>
            {% endfor %}
        </ul>
        <h2>Past Events</h2>
        <ul>
            {% for event in site.data.events.past_events %}
                {% if event.link == "none" %}
                <li>{{ event.name }}, {{ event.date }}</li><p></p>
                {% else %}
                <li><a href="{{ event.link }}" target="_blank">{{ event.name }}</a>, {{ event.date }}</li><p></p>
                {% endif %}
            {% else %}
            <li>No events available.</li>
            {% endfor %}
        </ul>
    </div>
</div>