<footer class="dark-background">
    <div class="footer">
        <div class="links">
            <div class="block">
                <h5>Contact Us</h5>
                <p><a href="https://goo.gl/maps/itgPsTQnH6gNvkjd8">6560 Braddock Road <br>
                        Alexandria, VA 22312</a></p>
                <div class="social-list">
                    <a href="mailto:tjlatinwebmasters@gmail.com"><img class="socials"
                            src="{{ site.baseurl }}/assets/images/svg/mail.svg" height="25px" width="auto"
                            alt="email"></a>
                    <a href="https://www.facebook.com/groups/279741652174356" target="_blank"><img class="socials"
                            src="{{ site.baseurl }}/assets/images/svg/facebook.svg" height="25px" width="auto"
                            alt="Facebook"></a>
                    <a href="https://www.instagram.com/tjlatin/" target="_blank"><img class="socials"
                            src="{{ site.baseurl }}/assets/images/svg/instagram.svg" height="25px" width="auto"
                            alt="Instagram"></a>
                </div>
            </div>
            <div class="block">
                <h5>TJ Latin</h5>
                <ul>
                    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li><a href="{{ site.baseurl }}/news.html">News</a></li>
                    <li><a href="{{ site.baseurl }}/documents.html">Documents</a></li>
                    <li><a href="{{ site.baseurl }}/certamen.html">Certamen</a></li>
                </ul>
            </div>
            <div class="block">
                <h5>Affiliates</h5>
                <ul>
                    <li><a href="https://njcl.org/" target="_blank">National Junior Classical League</a></li>
                    <li><a href="https://virginiajcl.org/index.html" target="_blank">Virginia Junior Classical
                            League</a></li>
                    <li><a href="https://www.cavclassics.org/" target="_blank">Classical Association of Virginia</a>
                    </li>
                    <li><a href="https://www.aclclassics.org/" target="_blank">American Classical League</a></li>
                </ul>
            </div>
        </div>
        <div class="credit">
            Designed and maintained by Anna Hsu & Derek Li.
        </div>
    </div>
</footer>