<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo/lhslong.png" alt="TJ Latin" width="auto" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                {% for link in site.data.navigation %}
                <a href="{{ site.baseurl }}{{ link.url }}" class="{% if link.url == page.url %}active{% endif %} nav-item nav-link">{{ link.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>