<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} | TJ Latin</title>
    <meta name="author" content="Anna Hsu, Derek Li">
    <meta name="description" content="TJHSST Latin website">
    <meta name="keywords" content="TJ, TJHSST, Thomas Jefferson High School for Science and Technology, TJ Latin, TJHSST Latin">
    <!-- og tags -->
    <meta property="og:title" content="TJ Latin">
    <meta property="og:description" content="The official website for the Thomas Jefferson High School for Science and Technology Latin program.">
    <meta property="og:image" content="{{ site.baseurl }}/assets/images/logo/lhslong.png">
    <meta property="og:url" content="https://activities.tjhsst.edu/latin{{ page.url}}">
    <meta name="twitter:card" content="summary_large_image">
   <!-- local stylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/images/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/safari-pinned-tab.svg" color="#333366">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#efeff7">
    <meta name="msapplication-config" content="{{ site.baseurl }}/assets/images/browserconfig.xml">
    <meta name="theme-color" content="#efeff7">
</head>
