---
---

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@350;600&display=swap");

$light: #efeff7;
$pale: #d5d5ea;
$med: #aeaed7;
$dark: #333366;
$pink: #ff5f5f;

html {
  height: 100%;
}

body {
  font-family: "Heebo", sans-serif;
  color: $dark;
  background-color: $light;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@mixin no-link-styling {
  a {
    box-shadow: none;
    padding: 0px;
    transition: none;
  }
  a:hover {
    background: none;
  }
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin background-theme($color, $text) {
  background-color: $color;
  color: $text;
  padding: 20px;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  a:hover {
    color: $text;
  }
  .btn {
    background-color: $text;
    color: $color;
  }

  .btn:hover {
    background-color: darken;
    color: $color;
  }
}

.light-background {
  @include background-theme($light, $dark);
}

.med-background {
  @include background-theme($med, $dark);
}

.dark-background {
  @include background-theme($dark, $light);
}

.container {
  max-width: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $dark;
}

a {
  color: $dark;
  box-shadow: inset 0 -2px 0 $pale;
  padding: 0px 1px;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: $dark;
  background: $pale;
  text-decoration: none;
}
a:visited {
  color: $dark;
  text-decoration: none;
}

img {
  max-width: 100%;
}

nav {
  background-color: $light;
}

.navbar-brand {
  margin-right: 30px;
  box-shadow: none;
  padding: 0px;
  transition: none;
}
.navbar-brand:hover {
  background: none;
}

.navbar-nav {
  @include no-link-styling;
  a {
    font-weight: 350;
    color: $dark !important;
    padding: 4px 0px !important;
  }
  .active {
    font-weight: 600;
  }
  @media (min-width: 992px) {
    a {
      margin-right: 30px;
      display: inline-block;
      position: relative;
      transition: 0.3s;
      font-weight: 600;
      &:after {
        content: "";
        width: 0;
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        height: 2px;
        background: $pink;
        opacity: 0;
        transition: 0.3s;
      }
      &:hover {
        color: $dark;
        &:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
    a:hover {
      color: $dark;
    }
    .active {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.content {
  flex: 1 0 auto;
}

.footer {
  @include no-link-styling;
  flex-shrink: 0;
  a {
    color: $light;
    font-weight: 350;
  }
  .social-list {
    padding-bottom: 15px;
  }
  .socials {
    filter: invert(95%) sepia(8%) saturate(129%) hue-rotate(202deg)
      brightness(99%) contrast(96%);
  }
}

.heading {
  text-align: center;
}

.list {
  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
  }
  a:hover {
    background: none;
  }
}

.post-list {
  padding: 0;
  li {
    list-style-type: none;
  }
}
.post-link,
.post-link:hover {
  box-shadow: none;
  padding: 0px;
  transition: none;
  background: none;
}

.photo-frame {
  border: 1rem solid $dark;
}

.btn {
  background-color: $dark;
  color: $light;
  font-weight: 600;
  box-shadow: none;
  transition: none;
}

.btn:hover {
  background-color: lighten;
  color: $light;
}

.flex-item {
  flex-grow: 1;
}

.card {
  @include no-link-styling;
  @include no-select;
  transition: all 0.3s ease-in-out;
  .card-link {
    text-decoration: none;
  }
  .card-title {
    font-size: 22px;
  }
  .card-text {
    font-weight: 350;
  }
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 3px 8px 10px;
  transform: translate3d(0px, -3px, 0px);
}

::-moz-selection {
  background: $dark;
  color: $light;
}

::selection {
  background: $dark;
  color: $light;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $light;
}

::-webkit-scrollbar-thumb {
  background: $dark;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $dark $light;
}
