---
---

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

$white: #ffffff;
$light: #efeff7;
$pale: #d5d5ea;
$med: #aeaed7;
$dark: #333366;
$pink: #ff5f5f;

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Heebo", sans-serif;
  color: $dark;
  background-color: $light;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

@mixin no-link-styling {
  a {
    box-shadow: none;
    padding: 0px;
    transition: none;
    &:hover {
      background: none;
    }
  }
}

@mixin no-hover {
  box-shadow: none;
  transform: none;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin background-theme($color, $text) {
  background-color: $color;
  color: $text;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  a:hover {
    color: $text;
  }
  .btn {
    background-color: $text;
    color: $color;
    &:hover {
      background-color: darken;
      color: $color;
    }
  }
}

.light-background {
  @include background-theme($light, $dark);
}
.med-background {
  @include background-theme($med, $dark);
}
.dark-background {
  @include background-theme($dark, $light);
}

section,
footer {
  padding: 2rem 0;
}

section > div,
footer > div {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1440px;
  @media (min-width: 992px) {
    padding: 0 2rem;
  }
}

$font-size: 36px;
@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Gotu";
    font-size: $font-size * (2 / $i);
    font-weight: 600;
    color: $dark;
    margin: 0px 0px 8px 0px;
  }
}
h1 {
  font-size: 48px;
}

a {
  color: $dark;
  box-shadow: inset 0 -2px 0 $pale;
  padding: 0px 1px;
  transition: background 0.2s cubic-bezier(0.33, 0.66, 0.66, 1);
  font-weight: 600;
  text-decoration: none;
  &:hover {
    color: $dark;
    background: $pale;
    text-decoration: none;
  }
  &:visited {
    color: $dark;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin-top: 0px;
}

.navbar {
  @include no-link-styling;
  @include no-select;
  // should probably implement flexbox
  color: $dark;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: $light;
  padding: 8px 0px;
  a {
    display: inline-block;
    position: relative;
    transition: 0.2s;
    color: $dark;
    font-weight: 400;
    margin: 15px;
  }
}

.main-nav {
  display: none;
  margin-bottom: 15px;
  a {
    text-align: left;
    margin-top: 0px;
    display: block;
  }
  .active {
    font-weight: 600;
  }
}
.logo {
  display: inline-block;
  a {
    font-weight: 600;
  }
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.on {
  display: block;
}

@media screen and (min-width: 850px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: flex-end;
    a {
      margin-top: 15px;
      &:after {
        background: $pink;
        content: "";
        width: 0;
        position: absolute;
        top: 22px;
        left: 0;
        right: 0;
        height: 2px;
        opacity: 0;
        transition: 0.2s;
      }
      &:hover {
        &:after {
          opacity: 1;
          width: 100%;
        }
      }
    }
    .active {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
  .navbar-toggle {
    display: none;
  }
  .logo {
    margin-left: 15px;
  }
}

.content {
  flex: 1 0 auto;
}

.footer {
  @include no-link-styling;
  @include no-select;
  flex-shrink: 0;
  .social-list {
    padding-bottom: 15px;
  }
  .socials {
    filter: invert(95%) sepia(8%) saturate(129%) hue-rotate(202deg)
      brightness(99%) contrast(96%);
  }
  .credit {
    text-align: center;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  @media screen and (max-width: 775px) {
    .links {
      flex-direction: column;
      align-items: center;
    }
  }
  .block {
    width: 240px;
  }
  h5 {
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0px;
  }
  p {
    margin-top: 0px;
  }
  a {
    color: $light;
    font-weight: 400;
  }
}

.heading {
  text-align: center;
}

.split-hero {
  display: flex;
  flex-flow: column;
  .hero-image {
    margin-top: 64px;
    @media (max-height: 512px) {
      display: none;
    }
  }
  @media (min-width: 592px) {
    flex-flow: row;
    align-items: center;
    .hero-image,
    #hero-index {
      flex: 1;
      min-width: 280px;
      margin-top: 64px;
    }
    img {
      max-height: 85vh;
      width: auto;
    }
  }
  h1 {
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
  }
}
.hero {
  padding-top: 80px;
  h1 {
    margin-bottom: 0px;
  }
}

.cover {
  height: 100vh;
  display: flex;
  align-items: center;
}

.list {
  ul {
    padding: 0px;
  }
  li {
    list-style-type: none;
  }
  a:hover {
    background: none;
  }
}

.alert {
  @include background-theme($dark, $light);
  padding: 16px;
  border-radius: 8px;
}

.post-list {
  padding: 0px;
  .post-link,
  .post-link:hover {
    box-shadow: none;
    padding: 0px;
    transition: none;
    background: none;
  }
  h3 {
    margin-bottom: 4px;
  }
  p {
    margin: 4px 0px 0px 0px;
  }
  li {
    list-style-type: none;
    padding-bottom: 15px;
  }
}
.post-content {
  .photo-frame {
    text-align: center;
  }
}
.post {
  .post-title {
    margin-bottom: 0px;
  }
  .post-meta {
    margin: 0px;
  }
}

.photo-frame {
  border: 1em solid $dark;
  align-self: center;
}

.btn {
  background-color: $dark;
  color: $light;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 8px;
  box-shadow: none;
  transition: none;
  &:hover {
    background-color: lighten;
    color: $light;
  }
}
.center-btn {
  text-align: center;
  margin: 15px 0px;
}

.flex-item {
  flex-grow: 1;
}

@mixin card-container($multiplier) {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-bottom: 15px;
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(auto-fill, minmax(280px * $multiplier, 1fr));
  }
}
.card-container {
  @include card-container(1);
}
.med-card-container {
  @include card-container(1.4);
}
.wide-card-container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(280px, 1fr)
  ); // auto-fit for stuff like magistrae cards without the multiplier
  gap: 20px;
  padding-bottom: 15px;
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
.card {
  @include no-link-styling;
  @include no-select;
  max-width: 770px;
  transition: all 0.2s ease-in-out;
  background-color: $white;
  border-radius: 8px;
  .card-body {
    padding: 15px;
    font-weight: 400;
  }
  .card-link {
    text-decoration: none;
  }
  .card-title {
    font-size: 22px;
    margin-bottom: 0px;
  }
  img {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 8px;
  }
  ul {
    margin: 16px 0px;
  }
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 3px 8px 10px;
  transform: translate3d(0px, -3px, 0px);
}
.photo-card {
  .card-body {
    padding-top: 0px;
  }
}

.certamen {
  .card {
    @include no-hover;
  }
}

.faq {
  div {
    padding-bottom: 1rem;
  }
  .click {
    cursor: pointer;
  }
}

.event-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .events {
    flex: 1;
    min-width: 280px;
    padding-right: 15px;
  }
  .photo-frame {
    flex: 2;
    min-width: 280px;
  }
}

.officer-flex {
  display: flex;
  flex-flow: row wrap;
  .officer-text {
    flex: 3;
    min-width: 280px;
    padding-right: 15px;
  }
  .photo-frame {
    flex: 1;
    min-width: 280px;
  }
  .list {
    @include no-link-styling();
  }
  .socials {
    filter: invert(17%) sepia(44%) saturate(985%) hue-rotate(203deg)
      brightness(100%) contrast(90%);
    padding-right: 8px;
  }
}

.contact-flex {
  display: flex;
  flex-flow: row wrap;
}
.contact-text,
.contact-form {
  flex: 1;
  min-width: 280px;
}
.contact-form {
  button,
  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    margin: 0px;
    padding: 6px 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid $dark;
  }
  button {
    cursor: pointer;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 640px) {
  .contact-form {
    padding: 0px 15px;
    input {
      width: 70%;
    }
    button {
      width: 90px;
    }
  }
}

.error {
  text-align: center;
}

::-moz-selection {
  background: $pale;
}

::selection {
  background: $pale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $light;
}

::-webkit-scrollbar-thumb {
  background: $dark;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $dark $light;
  box-sizing: border-box;
}
