---
layout: default
---
<!-- breadcrumbs !! -->
<div class="officer">
    <section class="hero light-background">
        <div>
            <div class="officer-flex">
                <div class="officer-text">
                    <h1>{{ page.name }} ({{ page.latin_name }})</h1>
                    <h2>{{ page.office }}</h2>
                    <h3>{{ page.level }}, Class of {{ page.year }}</h3>
                    <div class="list">
                        <a href="mailto:{{ page.email }}"><img class="socials"
                                src="{{ site.baseurl }}/assets/images/svg/mail.svg" height="48px" width="auto"
                                alt="email"></a>
                        <a href="{{ page.facebook }}" target="_blank"><img class="socials"
                                src="{{ site.baseurl }}/assets/images/svg/facebook.svg" height="48px" width="auto"
                                alt="Facebook"></a>
                        </div>
                    {{ content }}
                </div>
                <div class="photo-frame">
                    <img src="{{ site.baseurl }}/assets/images/officers/{{ page.photo }}" width="100%" height="auto">
                </div>
            </div>
        </div>
    </section>

    <section class="light-background">
        <div>
            <h2>Posts</h2>
            <ul class="post-list">
                {%- assign date_format = "%b. %-d, %Y" -%}
                {% assign filtered_posts = site.posts | where: 'author', page.name %}
                {%- for post in filtered_posts -%}
                <li>
                    <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}
                </li>
                {% else %}
                <li>No posts available.</li>
                {%- endfor -%}
            </ul>
        </div>
    </section>
</div>
