---
layout: default
---
<!-- breadcrumbs !! -->
<div class="officer">
    <div class="hero light-background">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="photo-frame">
                        <img src="{{ site.baseurl }}/assets/images/officers/{{ page.photo }}" width="100%" height="auto">
                    </div>
                </div>
                <div class="col-md-9">
                    <h1>{{ page.name }}</h1>
                    <h2>{{ page.office }}, Class of {{ page.year }}</h2>
                    <span>{{ page.email }}</span>
                </div>
            </div>
        </div>
    </div>

    {{ content }}

    <div class="light-background">
        <div class="container">
            <h2>Posts</h2>
            <ul>
                {% assign filtered_posts = site.posts | where: 'author', page.name %}
                {% for post in filtered_posts %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>